/********************************
************主页*****************
********************************/
.game-icon{
    width: 65px !important;
    height: 65px !important;
    border-radius: 10px;
}
.game-title{
    margin: 0;
    font-size: 14px;
}

.am-list-item-text i{
    color: #ffa016;
}
.am-icon-star5:before{
    content: "\f005\f005\f005\f005\f005";
}
/*轮播 高度调整
.am-slider .am-slides img{
    height: 120px;
}*/

.am-gallery-title{
    text-align: center;
}

.game-fn{
    padding-left: 0;
}
.game-fn button{
    margin-top: 40%;
    padding: .3em .6em;
    color: #3bb4f2;
    background-color: #fff;

}
/********************************
************排行*****************
********************************/
.am-tabs-bd{
    border: none;
}

/********************************
************分类*****************
********************************/
.category-item{
    position: relative;
}
.category-item img{
    border-radius: 10px;
}
.category-item .title{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px 0;
    border-radius: 0 0 10px 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
}

/********************************
************用户*****************
********************************/
.login3rd{
    margin: 30px auto 0 auto;
    text-align: center;
    font-size: 14px;
}
.login3rd .am-icon-btn{
    margin: 10px;
}
.login3rd h4{
    border-top: 1px solid #e6e6e6;
}
.login3rd h4 span{
    display: inline-block;
    color: #999;
    margin-top: -10px;
    padding: 0 10px;
    vertical-align: top;
    background-color: #fff;
}
/********************************
************用户*****************
********************************/
.gameinfo{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.gameinfo-detail{

}
.gameinfo-detail-capture{
    
}