
.game-icon{
    width: 65px !important;
    height: 65px !important;
    border-radius: 10px;
}
.game-title{
    font-size: 14px;
}

.am-list-item-text i{
    color: #ffa016;
}
.am-icon-star5:before{
    content: "\f005\f005\f005\f005\f005";
}
/*轮播 高度调整*/
.am-slider .am-slides img{
    height: 120px;
}

.am-gallery-title{
    text-align: center;
}

.game-fn{
    padding-left: 0;
}
.game-fn button{
    margin-top: 40%;
    padding: .3em .6em;
    color: #3bb4f2;
    background-color: #fff;

}

.am-tabs-bd{
    border: none;
}