<div data-am-widget="slider" class="am-slider am-slider-a1 am-slider-manual">
    <ul class="am-slides">
        <li>
          <img src="http://s.cn.bing.net/az/hprichbg/rb/TheLuxorHotel_ZH-CN12121725266_1920x1080.jpg">
        </li>
        <li>
          <img src="http://s.cn.bing.net/az/hprichbg/rb/MovingWalkway_ZH-CN9842297711_1920x1080.jpg">
        </li>
        <li>
          <img src="http://global.bing.com/az/hprichbg/rb/UchisarCastle_EN-US10838608428_1920x1080.jpg">
        </li>
        <li>
          <img src="http://global.bing.com/az/hprichbg/rb/DumbartonOaksGardens_EN-US12360736195_1920x1080.jpg">
        </li>
    </ul>
</div>
<div  class="am-list-news am-list-news-default">
    <div class="am-list-news-hd am-cf">
        <a href="###" class=""><h2>猜你喜欢</h2><span class="am-list-news-more am-fr"><i class="am-icon-refresh"></i> 换一换 </span></a>
    </div>
    <div class="am-list-news-bd">
        <ul  class="am-gallery am-avg-sm-4 am-avg-md-4 am-gallery-default">
            <li ng-repeat="game in games">
                <div class="am-gallery-item">
                    <a ng-href="/game/{{game.id}}">
                        <img class="game-icon" ng-src="{{game.icon}}">
                        <h3 class="am-gallery-title">{{game.name}}</h3>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="am-list-news am-list-news-default">
    <div class="am-list-news-hd am-cf">
        <a href="###" class=""><h2>精品游戏</h2><span class="am-list-news-more am-fr">更多 &raquo;</span></a>
    </div>
    <div class="am-list-news-bd" style="padding:0 10px;">
        <ul class="am-list">
            <li class="am-g am-list-item-desced am-list-item-thumb-left" ng-repeat="game in games">
                <div class="am-u-sm-3 am-list-thumb">
                    <a ng-href="/game/{{game.id}}">
                        <img class="game-icon" ng-src="{{game.icon}}">
                    </a>
                </div>
                <div class="am-u-sm-7 am-list-main">
                    <h3 class="am-list-item-hd game-title">
                        <a ng-href="/game/{{game.id}}">{{game.name}}</a>
                    </h3>
                    <div class="am-list-item-text">
                        <i class="am-icon-star5"></i>
                        <span> 人气:{{game.players}}</span>
                    </div>
                    <div class="am-list-item-text">{{game.summary}}</div>
                </div>
                <div class="am-u-sm-2 game-fn">
                    <button type="button" class="am-btn am-btn-secondary am-radius">开始</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="am-list-news-ft">
        <a class="am-list-news-more am-btn am-btn-default " href="###">更多精品游戏 &raquo;</a>
    </div>
</div>