<!--轮播-->
<div data-am-widget="slider" class="am-slider am-slider-a1 am-slider-manual">
  <ul class="am-slides">
    <li>
      <img src="http://i4.wanh5.com/bn/b8001/1504/26/553ca134664f2.jpg">
    </li>
    <li>
      <img src="http://i3.wanh5.com/bn/b8001/1505/04/5547664fdbab5.jpg">
    </li>
  </ul>
</div>

<!--猜你喜欢-->
<div  class="am-list-news am-list-news-default">
  <div class="am-list-news-hd am-cf">
    <a ng-click="reloadGame()">
        <h2>猜你喜欢</h2>
        <span class="am-list-news-more am-fr"><i class="am-icon-refresh"></i> 换一换 </span>
    </a>
  </div>
  <div class="am-list-news-bd">
    <ul  class="am-gallery am-avg-sm-4 am-avg-md-4 am-gallery-default">
      <li ng-repeat="game in enjoyGames">
        <div class="am-gallery-item">
          <a ng-href="/game/{{game._id}}">
            <img class="game-icon" ng-src="{{game.icon}}">
            <h3 class="am-gallery-title">{{game.name}}</h3>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<!--游戏列表-->
<div class="am-list-news am-list-news-default">
  <div class="am-list-news-hd am-cf">
    <a ng-href="/rank">
      <h2>精品游戏</h2>
      <span class="am-list-news-more am-fr">更多 &raquo;</span>
    </a>
  </div>
  <div class="am-list-news-bd" style="padding:0 10px;">
    <ul class="am-list">
      <li class="am-g am-list-item-desced am-list-item-thumb-left" ng-repeat="game in games">
        <div class="am-u-sm-3 am-list-thumb">
          <a ng-href="/game/{{game._id}}">
            <img class="game-icon" ng-src="{{game.icon}}">
          </a>
        </div>
        <div class="am-u-sm-7 am-list-main">
          <h3 class="am-list-item-hd game-title">
            <a ng-href="/game/{{game._id}}">{{game.name}}</a>
          </h3>
          <div class="am-list-item-text">
            <i class="am-icon-star5"></i>
            <span> 人气:{{game.players}}</span>
          </div>
          <div class="am-list-item-text">{{game.summary}}</div>
        </div>
        <div class="am-u-sm-2 game-fn">
          <button type="button" class="am-btn am-btn-secondary am-radius">开始</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="am-list-news-ft" ng-show="hasMore">
    <a class="am-btn am-btn-default am-btn-block " ng-click="loadMore()">更多精品游戏 &raquo;</a>
  </div>
</div>