<div class="am-g mt10">
  <div class="am-u-md-8 am-u-sm-centered">
    <form class="am-form" ng-submit="signup()">
      <fieldset class="am-form-set">
        <input type="text" ng-model="user.email" placeholder="这是邮箱">
        <input type="password" ng-model="user.password" placeholder="这是密码">
        <input type="password" ng-model="user.password2" placeholder="也是密码">
      </fieldset>
      <button type="submit" class="am-btn am-btn-warning am-btn-block">注册</button>
      <a class="am-btn am-btn-secondary am-btn-block" href="/signin">登录</a>
    </form>
  </div>
</div>